.Rproj.user
.Rhistory
.RData
.Ruserdata
02_lines/data/GloRiC_v10_shapefile/GloRiC_ClassNames_v10.xlsx
02_lines/data/GloRiC_v10_shapefile/GloRiC_TechDoc_v10.pdf
02_lines/data/GloRiC_v10_shapefile/GloRiC_v10_shapefile/GloRiC_v10.dbf
02_lines/data/GloRiC_v10_shapefile/GloRiC_v10_shapefile/GloRiC_v10.prj
02_lines/data/GloRiC_v10_shapefile/GloRiC_v10_shapefile/GloRiC_v10.sbn
02_lines/data/GloRiC_v10_shapefile/GloRiC_v10_shapefile/GloRiC_v10.sbx
02_lines/data/GloRiC_v10_shapefile/GloRiC_v10_shapefile/GloRiC_v10.shp
02_lines/data/GloRiC_v10_shapefile/GloRiC_v10_shapefile/GloRiC_v10.shx
02_lines/data/vectors/wshed.cpg
02_lines/data/vectors/wshed.dbf
02_lines/data/vectors/wshed.prj
02_lines/data/vectors/wshed.sbn
02_lines/data/vectors/wshed.sbx
02_lines/data/vectors/wshed.shp
02_lines/data/vectors/wshed.shp.xml
02_lines/data/vectors/wshed.shx
01_points/data/cpcb_lakes_all_years_subset_variables.RDS
04_hexagons/data/us_wildfires_1992_2015_kaggle/FPA_FOD_20170508.sqlite
